<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>شماره</h4>
						<p class="lead">
							09039778499
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>ایمیل</h4>
						<p class="lead">
							alimehrazar1208@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>آدرس</h4>
						<p class="lead">
							ایران، تهران، جوادیه
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>