{% extends 'master.html' %};{% load static %}

{% block content %}
    <!-- Start slides -->
    <div id="slides" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="{% static 'images/slider-01.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>خوش آمدید به <br> رستوران مهرآذر</strong></h1>
                            <p class="m-b-40">این سایت جنگو منه برای پروژه نهایی دوره لایتک</p>
                            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/reserve">رزرو میز</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/slider-02.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>خوش آمدید به <br> رستوران مهرآذر</strong></h1>
                            <p class="m-b-40">این سایت جنگو منه برای پروژه نهایی دوره لایتک</p>
                            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/reserve">رزرو میز</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static 'images/slider-03.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>خوش آمدید به <br> رستوران مهرآذر</strong></h1>
                            <p class="m-b-40">این سایت جنگو منه برای پروژه نهایی دوره لایتک</p>
                            <p><a class="btn btn-lg btn-circle btn-outline-new-white" href="/reserve">رزرو میز</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End slides -->

    <!-- Start About -->
    <div class="about-section-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="{% static 'images/about-img.jpg' %}" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                    <div class="inner-column">
                        <h1 style="font-family: Vazir,serif">خوش آمدید به <span>رستوران مهرآذر</span></h1>
                        <h4>داستان کوتاه</h4>
                        <p style="text-align: right;">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                            استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                            است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                            باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می
                            طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ
                            پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه
                            راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و
                            جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                        <a class="btn btn-lg btn-circle btn-outline-new-white" href="/reserve">رزرو میز</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start QT -->
    <div class="qt-box qt-background">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <p class="lead"
                       style="font-family: 'Vazir', sans-serif; text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);">
                        اگر تو اونی نیستی که آشپزی میکنه، دخالت نکن و فقط آشپز رو تشویق کن
                    </p>
                    <span class="lead" style="font-weight: bold; text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);">مایکل استراهان</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End QT -->


    <!-- Start Menu -->
    <div class="menu-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2 style="font-family: Vazir, serif;">منو ویژه</h2>
                        <p style="font-family: Vazir,serif">
                            منو ویژه رستوران شامل وعده های شام و ناهار ، سرو همراه نوشیدنی
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">همه</button>
                            <button data-filter=".drinks">نوشیدنی</button>
                            <button data-filter=".lunch">ناهار</button>
                            <button data-filter=".dinner">شام</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                {% for food in foods %}
                    <div class="col-lg-4 col-md-6 special-grid {{ food.type_food }}">
                        <a href="{% url 'foods:food_detail' food.id %}">
                            <div class="gallery-single fix">
                                <img src="{{ food.photo.url }}" class="img-fluid" alt="Image"
                                     style="height: 270px;width: 350px;object-fit: fill">
                                <div class="why-text">
                                    <h4><b>{{ food.name }}</b></h4>
                                    <p>{{ food.description }}</p>
                                    <h5>{{ food.price }} تومان </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- End Menu -->

{#    <!-- Start Gallery -->#}
{#    <div class="gallery-box">#}
{#        <div class="container-fluid">#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <div class="heading-title text-center">#}
{#                        <h2 style="font-family: Vazir,serif"><b>گالری</b></h2>#}
{#                        <p style="font-family: Vazir,serif">گالری غذا های شگفت انگیز و لذیذ رستوران</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="tz-gallery">#}
{#                <div class="row">#}
{#                    {% for food in foods %}#}
{#                        <div class="col-sm-12 col-md-4 col-lg-4">#}
{#                            <a class="lightbox" href="{{ food.photo.url }}">#}
{#                                <img class="img-fluid" src="{{ food.photo.url }}" alt="Gallery Images"#}
{#                                     style="height: 270px;width: 350px;object-fit: fill">#}
{#                            </a>#}
{#                        </div>#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <!-- End Gallery -->#}

    <!-- Start Customer Reviews -->
    <div class="customer-reviews-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-title text-center">
                        <h2 style="font-family: Vazir,serif"><b>نظرات مشتریان</b></h2>
                        <p style="font-family: Vazir,serif">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto text-center">
                    <div id="reviews" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner mt-4">
                            <div class="carousel-item text-center active">
                                <div class="img-box p-1 border rounded-circle m-auto">
                                    <img class="d-block w-100 rounded-circle" src="{% static 'images/tomhardy.jpg' %}"
                                         alt=""
                                         style="height: 100%;width: auto; object-fit: cover;transform: translate3d(0px, 0px, 0.1px); ">
                                </div>
                                <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">تام هاردی</strong>
                                </h5>
                                <h6 class="text-dark m-0">بازیگر مشهور و محبوب</h6>
                                <p class="m-0 pt-3">
                                    من باید بگویم که این یک تجربه فوق‌العاده بود. غذاها عطر و طعم بسیار خوشایند و متناسب
                                    با سلیقه من داشتند. من چندین غذای مختلف را امتحان کردم، از جمله چلوکباب و جوجه کباب.
                                    هر کدام از آن‌ها باعث شد که حس کنم در خود بهشت هستم
                                </p>
                            </div>
                            <div class="carousel-item text-center">
                                <div class="img-box p-1 border rounded-circle m-auto">
                                    <img class="d-block w-100 rounded-circle" src="{% static 'images/profile-3.jpg' %}"
                                         alt="">
                                </div>
                                <h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">استیو فونسی</strong>
                                </h5>
                                <h6 class="text-dark m-0">یک شخص کاملا رندوم</h6>
                                <p class="m-0 pt-3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با
                                    استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
                                    که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود
                                    ابزارهای کاربردی می باشد</p>
                            </div>

                        </div>
                        <a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Customer Reviews -->

    <!-- Start Contact info -->
{% endblock %}
