{% extends 'master.html' %}
{% load static %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>

    <style>
        .tz-gallery {
            display: flex;
            flex-wrap: wrap;
            justify-content: center; /* Center the row on all screens */
            text-align: center; /* Center-align images on smaller screens */
        }

        .tz-gallery .col-sm-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .tz-gallery .col-md-4 {
            flex: 0 0 33.33%;
            max-width: 33.33%;
            padding: 10px;
            box-sizing: border-box;
        }

        .tz-gallery .lightbox img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
            border: 1px solid #ddd;
            border-radius: 5px;
            transition: transform 0.2s;
            max-height: 270px; /* Force all images to the same height */
        }

        .tz-gallery .lightbox img:hover {
            transform: scale(1.1);
        }

        @media screen and (max-width: 767px) {
            .tz-gallery .col-md-4 {
                flex: 0 0 100%; /* Full width on mobile devices */
                max-width: 100%;
            }
        }
    </style>

    <div class="tz-gallery">
        <div class="row" style="margin-right: 20px">
            {% for food in foods %}
                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="{{ food.photo.url }}">
                        <img class="img-fluid" src="{{ food.photo.url }}" alt="Gallery Images"
                             style="height: 270px;width: 350px;object-fit: fill">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
{% endblock content %}

